$bg_bar: url('http://ruyiart.oss-cn-beijing.aliyuncs.com/background/bar.png');
$bg_photo: url('http://ruyiart.oss-cn-beijing.aliyuncs.com/background/photoBg.png');
$bg_mei: url('http://ruyiart.oss-cn-beijing.aliyuncs.com/background/mei.png');
$bg_studentsWork: url('http://ruyiart.oss-cn-beijing.aliyuncs.com/background/studentsWork.png');
$bg_news_yellow_bg: url('http://ruyiart.oss-cn-beijing.aliyuncs.com/news/yellow_bg.png');

$bg_course_yellow_bg: url('http://ruyiart-course.oss-cn-beijing.aliyuncs.com/background/yellow.png');
$bg_studentsWork_bg: url('http://ruyiart-course.oss-cn-beijing.aliyuncs.com/background/studentWorkBg.png');
