$bg_about_location_title: url("http://ruyiart-about.oss-cn-beijing.aliyuncs.com/location/bg.png");
$bg_about_location_traffic: url("http://ruyiart-about.oss-cn-beijing.aliyuncs.com/traffic/bg.png");

$guide_bg: url("http://ruyidesign-about.oss-cn-beijing.aliyuncs.com/guide_bg.png");
