//total page
$hand: url('http://ruyidesign-course.oss-cn-beijing.aliyuncs.com/hand/bg.png');
$exam: url('http://ruyidesign-course.oss-cn-beijing.aliyuncs.com/exam/bg.png');
$software: url('http://ruyidesign-course.oss-cn-beijing.aliyuncs.com/software/bg.png');
$transfer: url('http://ruyidesign-course.oss-cn-beijing.aliyuncs.com/transfer/bg.png');

//detail page
$hand_bg: url('http://ruyidesign-hand.oss-cn-beijing.aliyuncs.com/picture/bg.png');
$hand_bg2: url('http://ruyidesign-hand.oss-cn-beijing.aliyuncs.com/picture/bg2.png');

$exam_bg: url('http://ruyidesign-exam.oss-cn-beijing.aliyuncs.com/picture/bg.png');
$exam_bg2: url('http://ruyidesign-exam.oss-cn-beijing.aliyuncs.com/picture/bg2.png');

$software_bg: url('http://ruyidesign-software.oss-cn-beijing.aliyuncs.com/picture/bg.png');
$software_bg2: url('http://ruyidesign-software.oss-cn-beijing.aliyuncs.com/picture/bg2.png');

$transfer_bg: url('http://ruyidesign-transfer.oss-cn-beijing.aliyuncs.com/picture/bg.png');
$transfer_bg2: url('http://ruyidesign-transfer.oss-cn-beijing.aliyuncs.com/picture/bg2.png');
