@import '../../common.scss';
.abg_body {
  min-height: 400px;
  background-color: rgba($color: $default-purple, $alpha: 1);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .abg_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 100%;
    }
  }
  .abg_title_container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
      width: 100%;
    }
  }
}
