@import "../../../common.scss";
@import "../../../service/cssData/home.scss";

.home-rank {
  background-image: $home_rank_bg;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;

  .left {
    display: flex;
    padding: 40px 20px;
    float: left;
    .title {
      width: 50px;
      img {
        width: 100%;
      }
    }
    .horse {
      width: 240px;
      align-self: center;
      img {
        width: 100%;
      }
    }
  }
  .right {
    height: 400px;
    margin: 0px 40px 0px 360px;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      width: 420px;
      margin: 10px;
      img {
        width: 100%;
      }
    }
    .content {
      width: 100%;
      position: relative;
      .one-page {
        .one-page-content {
          display: flex;
          justify-content: center;
          padding: 0 10px;
          .one-pic {
            width: 120px;
            margin: 30px 10px;
            img {
              width: 100%;
              cursor: pointer;
            }
            img:hover {
              transition: all 0.3s;
              transform: scale(1.1, 1.1);
              box-shadow: $default-shadow-active;
            }
          }
        }
      }
      .prev {
        width: 24px;
        height: 24px;
        border: 24px solid;
        border-color: transparent rgba(255, 255, 255, 0.6) transparent
          transparent;
        cursor: pointer;
        position: absolute;
        top: 80px;
        left: -40px;
      }
      .next {
        width: 24px;
        height: 24px;
        border: 24px solid;
        border-color: transparent transparent transparent
          rgba(255, 255, 255, 0.6);
        cursor: pointer;
        position: absolute;
        top: 80px;
        right: -40px;
      }
    }
  }
  .ant-carousel .slick-dots li button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px rgba(116, 116, 116, 0.644) solid;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.6);
    position: relative;
    bottom: -30px;
  }
  .ant-carousel .slick-dots li.slick-active button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;
    background: rgba(255, 255, 255, 0.829);
  }
}
