@import '../../../common.scss';

.home-results {
  display: flex;
  justify-content: space-between;
  height: 300px;
  background-color: $default-white;
  .results-left {
    width: 45%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 24px 0 10px 0;
    .results-left-title {
      align-self: center;
    }
    .split-1 {
      width: 30px;
      height: 10px;
      background-color: $default-purple;
      margin: 10px 0px 4px 180px;
    }
    .split-2 {
      width: 350px;
      height: 1px;
      align-self: center;
      background-color: $default-purple;
      margin: 5px 0 0 0;
    }
    .results-left-carousel {
      margin: 20px 0 0 0;
      .carousel-item {
        width: 400px;
        padding: 0 0 0 60px;
        .line {
          display: flex;
          .dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: $default-purple;
            margin: 6px 8px 0 0;
          }
          p {
            font-size: 13px;
            line-height: 18px;
          }
        }
      }

      .ant-carousel .slick-dots li button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin: 0 5px;
        background: $default-purple;
        position: relative;
        bottom: -12px;
      }
      .ant-carousel .slick-dots li.slick-active button {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        margin: 0 5px;
        background: $default-purple;
      }
    }
  }
  .results-right {
    overflow: hidden;
    flex-grow: 1;
    img {
      height: 100%;
      min-width: 100%;
    }
  }
}
