@import '../../common.scss';

.mapSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $default-yellow;
  padding: 24px 180px 24px 120px;
  .logo {
    width: 120px;
    height: 120px;
    margin: 0 0 0 10px;
  }
  .text {
    color: $default-purple;
    margin: 10px 50px 10px 30px;
    flex-shrink: -1;
    .title {
      font-size: 18px;
      font-weight: bold;
    }
    .line {
      width: 30px;
      margin: 8px 0 0 2px;
      height: 4px;
      background-color: $default-purple;
    }
    .section {
      display: flex;
      margin: 18px 0;
      font-size: 14px;
      .subTitle {
        width: 60px;
      }
      .content {
      }
    }
  }
  .mapContainer {
    flex-shrink: 0;
    width: 500px;
    height: 280px;
    overflow: hidden;
    box-shadow: $default-shadow_heavy;
  }
}
